<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ww.library.dao.BookMapper">
  <resultMap id="BaseResultMap" type="com.ww.library.entity.Book">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="publishing_date" jdbcType="TIMESTAMP" property="publishingDate" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="lended" jdbcType="INTEGER" property="lended" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, author, publishing_date, amount, lended, remarks, image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ww.library.entity.Book">
    insert into book (id, name, author, 
      publishing_date, amount, lended, 
      remarks, image)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{publishingDate,jdbcType=TIMESTAMP}, #{amount,jdbcType=INTEGER}, #{lended,jdbcType=INTEGER}, 
      #{remarks,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ww.library.entity.Book">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="publishingDate != null">
        publishing_date,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="lended != null">
        lended,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="image != null">
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publishingDate != null">
        #{publishingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="lended != null">
        #{lended,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ww.library.entity.Book">
    update book
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publishingDate != null">
        publishing_date = #{publishingDate,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="lended != null">
        lended = #{lended,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ww.library.entity.Book">
    update book
    set name = #{name,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      publishing_date = #{publishingDate,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=INTEGER},
      lended = #{lended,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findBooksByKeyWord" resultType="com.ww.library.entity.Book" parameterType="java.lang.String">
    select * from book
    where author like "%"#{keyword}"%" or
    name like "%"#{keyword}"%"
  </select>

  <update id="updateBookCover">
    update book set image= #{coverPath} where id=#{id}
  </update>

 <select id="findCoverPathById" parameterType="java.lang.Integer" resultType="java.lang.String">
   select image from  book where  id=#{bookId}
 </select>
  
  <select id="findAllBooks" resultType="com.ww.library.entity.Book">
    select * from book limit #{param1},#{param2}
  </select>

  <select id="countBooks" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(*) from book
  </select>
</mapper>