<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">

    <title>首页</title>
</head>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
    <script src="../asset/jquery-3.3.1.js"></script>
    <script src="../asset/base.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<body>
<input id="keyword" type="hidden" value="三">

<div id="app">
    <input id="result" value="">
    <p>这不是ajax请求的文字</p>
    <button id="button">ajax请求</button>
</div>
<button class="redirect" id="ToReaderLogin">登陆界面</button>
<button class="redirect" id="ToRegist">注册界面</button>
<script>
$(document).ready(function(){

    $("#button").click(function(){
        var keyword=$("#keyword").val();
       $.ajax({
           type:'POST',
           url:path+"/Book/ajaxFindBooksByKeyWord",
           dataType:"json",
           data:{
               "keyword":keyword
           },
           success:function (data) {
               $("#result").val(data.result);

           }
       });
    });
    $(".redirect").click(function(){
        var page=this.id;
        window.location.href="/Reader/jump?page="+page;
    });

});
</script>
</body>
</html>