<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">

    <title>首页</title>
</head>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
<body>
<form id="loginForm" action="/Reader/ReaderLogin" method="post">
    <input type="hidden" id="message" value="${message?if_exists}">
    <input type="text" id="username" name="username" placeholder="用户名">
    <input type="password" id="password" name="password" placeholder="密码"><br>
    <input type="submit" value="登陆" />
</form>
<img src="../cover/sunrise.jpg" width="300px"/>
</body>
</html>